<div class="bg-blue-lightest shadow-md p-6 rounded">
    <div class="flex flex-col">
        <textarea
                class="w-full border border-blue-light rounded p-4 text-sm"
                placeholder="¿Qué está pasando?"
                rows="4"
                style="resize: none;">
        </textarea>

        <div class="flex justify-between items-center mt-4">
            <span class="text-sm flex-1">0 caracteres</span>
            <div class="flex-1 flex items-center justify-end">
                <button class="text-grey-dark px-6 py-2">Descartar</button>
                <button class="text-white rounded-full px-6 py-2 bg-blue-light">Twittear</button>
                <img class="ml-4" width="30" src="../progress.gif"/>
            </div>
        </div>

    </div>
</div>